.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background: #EBEDFC;

    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    background: #403FEA;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(16px);
    background: #EBEDFC;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color: #403FEA;
  }