.addClient {
    border-bottom: solid;
    border-width: 1px;
    border-color: #DBDFEB;
    height: 70px;
}
.addClientInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    height: 100%;
}